.friendList{
    padding: 40px;
   

}

.friendItem a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.iconPerson{
  width: 50px
}

.button {
    border-radius: 10px;
    border-style: none;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    background-color: orange;
}