.mainContainer {
  display: flex;
  grid-template-columns: 1fr 11fr;
  width: 100%;
  border:  1px solid red;
  margin: 20px;
}

.dialogs{
  width: 20%;
}
.dialogs a{
  color:  white;
  text-decoration: none;
}

.message{
  color:  white;
  
}

